@font-face
  font-family: "onion-icon"
  src:
    url("./onion.woff") format("woff"),
    url("./onion.ttf") format("truetype")

[class^="onion-"], [class*=" onion-"]
  font-family: "onion-icon"!important
  font-size: 100%
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.onion-important::before
  content: "\e68b"
.onion-alert::before
  content: "\e676"
.onion-ok::before
  content: "\e68c"
.onion-back::before
  content: "\e608"
.onion-arrow::before
  content: "\e60b"
.onion-close::before
  content: "\e60d"
.onion-warn::before
  content: "\e614"
.onion-question::before
  content: "\e616"
.onion-right::before
  content: "\e617"
.onion-wrong::before
  content: "\e618"
.onion-info::before
  content: "\e619"
.onion-danger::before
  content: "\e641"
.onion-round-border::before
  content: "\e683"
